datasets/
venv/
basics/.ipynb_checkpoints/
pandas/.ipynb_checkpoints/
matplotlib/.ipynb_checkpoints/
general_python/basics/.ipynb_checkpoints/
general_python/iteration/.ipynb_checkpoints/
natural_language_processing/.ipynb_checkpoints/
linear_algebra/.ipynb_checkpoints/
AWS/sagemaker_ml_examples/.ipynb_checkpoints/
spark_python/.ipynb_checkpoints/
misc/
